<h1>お気に入り</h1>
<%= link_to '投稿一覧', pictures_path, class: 'btn btn-default' %>

<div class="table_scroll">
  <table>
    <% @favorites.each do |favorite| %>
      <tr>
        <td><%= image_tag favorite.picture.image.url, size: '300x200' %></td>
        <td><%= favorite.picture.content%></td>
        <td><%= favorite.picture.user.name%></td>
      </tr>
    <% end %>
  </table>
</div>
