/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */
 html {
   position: relative;
   min-height: 100%;
 }
 body {
   width:100%;
   text-align: center;
   font-family: Hannotate SC;
 }
 ul{
     padding:0;
 }
.container{
  width:100%;
   margin: 0;
   padding: 0;

 }

 header {
   width: 100%;
   background-color: white;
   height: 54px;
   margin: 0;
   opacity: 0.8;
   border: 1px solid;
   border-right: transparent;
   border-left: transparent;
   opacity: 0.6;



 }
 header ul {
   margin: 0 auto;
   list-style: none;
 }
 header ul a {
   display: block;
   padding: 15px;
   text-decoration: none;
   color: black;
 }
 header li {
   width: auto;
 }
 header ul:after {
   content: "";
   display: block;
   clear: both;
 }
 footer {
   width: 100%;
  background-color: white;
   padding: 20px 0 10px 0;
   color: black;
   margin: auto;
   padding-bottom: 10px;
   font-size: 12px;
   position: absolute;
   bottom: 0;
   border: 1px solid;
   border-right: transparent;
   border-left: transparent;
   opacity: 0.6;


 }
  li :hover {
  	color:black;
    opacity: 0.5;
    text-decoration: none;
  }
  table{
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 20px 20px;
    height:100px;

  }
  .table_scroll{
    height: 750px;
    overflow: scroll;

  }
  h2{

  }
